
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
_output/
resources
_blogs
public/*.xml
public/sass
public/base
public/posts
public/category
public/tags
public/manifest.*