
dist
.solid
.output
.vercel
.netlify
.vinxi

# Velite
.velite

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
(hugo)/
resources
_blogs
*.lock
public/*.xml
public/sass
public/pages
public/posts
public/category
public/tags
public/manifest.*
public/sw.js
public/_data
public/valid_paths.txt