#blog-article {
  @apply prose dark:prose-invert !text-[1.05rem] !max-w-[42rem];
}

#blog-article a {
  @apply decoration-[var(--c-link)] underline-offset-4 decoration-1.2;
}

html.dark #blog-article .shiki,
html.dark #blog-article .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}