#blog-article a {
  @apply decoration-[var(--c-link)] underline-offset-4 decoration-1.2;
}

#blog-article :is(h1, h2, h3, h4, h5, h6) {
  @apply scroll-mt-20;
}

#blog-article p {
  @apply break-words;
}
