html {
    @apply scroll-smooth;
}

body {
    @apply font-base antialiased bg-main text-main md:grid md:min-h-screen grid-rows-[auto_1fr_auto];
}

pre {
    @apply rounded overflow-x-auto relative;
    scrollbar-width: none;
}

.highlight {
    @apply rounded max-w-screen relative;
}

code::before {
    content: attr(data-lang);
    color: var(--head-border);
    text-transform: uppercase;
    @apply text-lg absolute right-1.5 top-0.1;
}

#post-meta::-webkit-scrollbar,
pre::-webkit-scrollbar {
    display: none;
}

header ul,
#post-meta {
    scrollbar-width: none;
}

/* table of content */
#TableOfContents ul ul {
    box-shadow: inset 1px 0px 0px 0px #7c7c7c;
}

#TableOfContents ul ul {
    @apply ml-2;
}

#TableOfContents>ul>li {
    @apply pl-0;
}

#TableOfContents li {
    @apply my-2;
}

#TableOfContents li a {
    @apply px-2 rounded py-1 border-none hover:bg-menu text-[var(--extra)];
}

.no-click li a {
    @apply disable-hover;
}

#TableOfContents li a.active {
    @apply text-menu-active;
}

#TableOfContents li a:hover {
    @apply transition duration-300;
}

#TableOfContents {
    @apply text-left leading-7;
}

/* section  */

.md-content>ul,
.md-content>ol {
    @apply pl-8 px-4 my-2;
}

li {
    @apply my-2;
}

li li {
    @apply ml-lg;
}

ol {
    @apply list-decimal;
}

ul {
    @apply list-disc;
}

.md-content h2,
.md-content h3,
.md-content h4 {
    @apply pl-3 font-medium my-6 py-1 border-l-6 border-[var(--subtitle)] leading-loose font-headline !mobile-width-beyond;
}

.md-content h2 {
    @apply text-2xl;
}

.md-content h3 {
    @apply text-xl;
}

.md-content h4 {
    @apply text-lg;
}

.md-content hr {
    @apply mx-auto w-[50%] my-8 border-none h-2px bg-[--blockquote-border];
}

.md-content blockquote {
    @apply border-l-6 border-[var(--blockquote-border)] text-[var(--blockquote-text)] my-4 pl-3 pr-4 !mobile-width-beyond;
}

.md-content blockquote p {
    @apply py-3;
}

.md-content p a,
.md-content td a,
.md-content li a {
    @apply transition relative duration-200 ease-linear text-link hover:underline-[var(--menu-hover-text)];
}

.comment a {
    @apply transition relative duration-200 ease-linear text-link underline-none;
}

.md-content table {
    @apply text-center mx-auto mb-8 table-auto;
}

.md-content p,
.md-content li {
    @apply text-lg leading-8 text-justify;
}

.md-content p {
    @apply my-4;
}

.md-content table tr>th {
    @apply px-4 py-2;
}

.md-content table tr>td {
    @apply border px-4 py-2;
}

.md-content :not(pre)>code {
    @apply bg-[var(--copyright-bg)] px-1 pb-2px rounded font-mono mx-1;
}

.md-content pre>code {
    @apply block;
}

.md-content img {
    @apply mx-auto;
}

b {
    @apply text-#ee3f4d;
}

.ex-link {
    @apply underline-none inline m-2px mt-0;
}

.katex-display {
    @apply overflow-x-auto;
}

.like {
    animation: like 0.5s ease-in-out;
}

@keyframes like {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

#gisdus li li {
    @apply ml-10;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

details.archives-year>summary {
    list-style: none;
}

details.archives-year>summary::-webkit-details-marker {
    display: none;
}

details.archives-year[open] .archives-year__chevron {
    transform: rotate(90deg);
}