:root {
  --menu-hover-bg: #f0f0f4;
  --ers-bg: #fffffd;
  --menu-hover-text: #065279;
  --main-text: rgb(57, 47, 65);
  --footer-text: #0a133a;
  --title: rgb(57, 47, 65);
  --head-border: #7a7374;
  --subtitle: #343a40;
  --main-bg: #FFFEFF;
  --extra: #4a4040;
  --meta-bg: rgb(15, 20, 35, 0.7);
  --cc: #bfc0c180;
}

html.dark {
  --menu-hover-bg: #464646;
  --ers-bg: #2e2e2e;
  --menu-hover-text: #ffa631;
  --main-text: #f0f0f4;
  --footer-text: #d4d4d4;
  --subtitle: #f3f9f1;
  --title: rgb(248, 249, 250);
  --main-bg: #19191A;
  --extra: #e9f1f6;
  --meta-bg: rgb(226, 225, 228, 0.8);
  --cc: #4b4b4b80;
}

html {
  @apply scroll-smooth
}

#TableOfContents ul ul {
  border-left: 2px dotted var(--extra);
}

pre::before {
  content: attr(data-lang);
  color: var(--head-border);
  text-transform: uppercase;
  @apply text-lg absolute right-1.5 top-0.1;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

#TableOfContents>ul>li {
  @apply pl-0;
}

#TableOfContents li {
  @apply pl-4 my-2;
}

#TableOfContents li a {
  @apply pr-2 py-1 border-none bg-transparent text-menuHover;
}

#TableOfContents li a:hover {
  @apply transition duration-300;
}

#TableOfContents {
  @apply text-left mt-2 leading-7;
}

.chroma {
  @apply overflow-x-auto scrollbar-none;
}

section>ol,
section>ul,
section>ol {
  @apply pr-4 pl-8 my-2;
}

section ol,
section ul,
section ol,
section ul {}

section li {
  @apply my-2;
}

li li {
  @apply ml-4
}


section ol {
  @apply list-decimal;
}

section ul {
  @apply list-disc;
}


section h2,
section h3,
section h4 {
  @apply pl-3 font-medium my-6 py-1 border-l-4 border-[var(--subtitle)] leading-loose font-headline;
}

section h2 {
  @apply text-2xl;
}

section h3 {
  @apply text-xl;
}

section h4 {
  @apply text-lg;
}

section a {
  @apply transition relative duration-200 ease-linear text-[var(--menu-hover-text)] hover: text-[var(--menu-hover-bg)] px-.5 text-link
}

section hr {
  @apply seprator my-8 <lg: mx-4 w-24 border-none;
}

section blockquote {
  @apply border-l-4 border-[var(--head-border)] my-4 pl-3 <md: mr-4;
}

section>p {
  @apply <md: mx-4
}

section table {
  @apply text-center mx-auto mb-8 table-auto;
}

section p {
  @apply my-4
}



section table tr>th {
  @apply px-4 py-2;
}

section table tr>td {
  @apply border px-4 py-2;
}

section p>code {
  @apply bg-[var(--cc)] px-1 rounded font-mono mx-1;
}


.h {
  display: none;
}

b {
  @apply text-#ee3f4d;
}

.ex-link {
  @apply w-5 h-5 underline-none ml-2px i-carbon-html-reference -top-1px relative;
}

section img {
  @apply mx-auto
}